# Horizon Routing

<IfModule mod_env.c>
    SetEnv HORIZON_ENVIRONMENT production
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect the index to the route loader
    # If this rule doesn't work, then the index will load with fallback routing
    RewriteRule ^index\.php$ route.php [L]

    # Route to public files
    RewriteRule ^assets/(.*)$ app/public/$1 [L,QSA,NC]

    # Route to essential files
    RewriteRule ^favicon.ico$ app/public/favicon.ico [L,QSA,NC]
    RewriteRule ^robots.txt$ app/public/robots.txt [L,QSA,NC]
    RewriteRule ^sitemap.xml$ app/public/sitemap.xml [L,QSA,NC]

    # Block access to secure files
    RewriteRule ^\.env route.php [L]
    RewriteRule ^ace$ route.php [L]
    RewriteRule ^README\.md$ route.php [L]
    RewriteRule ^horizon/(.*)$ route.php [L]

    # Send the request to the Horizon router
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . route.php [L]

    # Hide sensitive files
    RedirectMatch 404 (\.git)

    # Prevent access to distribution files
    RedirectMatch 403 \.hzbackup
    RedirectMatch 403 \.hzpack
    RedirectMatch 403 \.hztmp\.php
</IfModule>

DirectoryIndex index.php
