<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="tests/@environment/init.php"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		stopOnFailure="false"
		backupGlobals="true">
	<testsuite name="Horizon Framework">
		<directory>./tests</directory>
	</testsuite>
	<php>
		<env name="HORIZON_MODE" value="test" />
		<env name="SYMFONY_PHPUNIT_REMOVE_RETURN_TYPEHINT" value="1" />
	</php>
</phpunit>
