<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ $title ?? "Horizon" }}</title>
	</head>
	<body>
		{# Header #}
		<header>

		</header>

		{# Main block to be replaced by individual pages #}
		<main>
			@section('main')
				Replace me!
			@endsection
		</main>

		{# Footer #}
		<footer>

		</footer>
	</body>
</html>
