body {
    background-color: #fff;
    padding: 50px;

    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #444;

    line-height: 1.5;
}

hr {
    border-top: 0;
    border-bottom: 1px solid #e5e5e5;

    margin: 50px 0;
    padding: 0;
}

em {
    font-size: 12px;
    font-style: italic;
    color: #666;
}