@translate('horizon.start')

<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>Title</title>

        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900">

        <style type="text/css">
            body {
                font-family: Roboto, Arial, sans-serif;
                font-size: 15px;

                background-color: #f5f5f5;
                border: 0;

                padding: 0;
                margin: 0;
            }

            .container {
                width: 100vw;
                min-height: 100vh;

                display: flex;

                justify-content: center;
                align-items: center;
            }

            .box {
                display: inline-block;
                max-width: 600px;
                width: 100%;

                align-self: center;
                text-align: center;

                padding: 60px 0;
            }

            .box .icon {
                margin-bottom: 25px;
            }

            .box .icon svg {
                width: 100px;
                height: 100px;
            }

            .box .icon svg path {
                fill: #27ae60;
            }

            h1 {
                font-size: 24px;
                font-weight: 400;
                color: #34495e;

                margin: 0 0 15px;
                padding: 0;
            }

            p {
                font-size: 15px;
                color: #7f8c8d;

                margin: 0;
                padding: 0;
            }
        </style>
    </head>
    <body>

        <div class="container">
            <div class="box">
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19.77 5.03l1.4 1.4L8.43 19.17l-5.6-5.6 1.4-1.4 4.2 4.2L19.77 5.03m0-2.83L8.43 13.54l-4.2-4.2L0 13.57 8.43 22 24 6.43 19.77 2.2z"/></svg>
                </div>

                <h1>Heading</h1>
                <p>Paragraph</p>
            </div>
        </div>
    </body>
</html>