@translate('horizon.welcome')

<!DOCTYPE HTML>
<html>
    <head>
        <title>Horizon</title>

        <link rel="stylesheet" type="text/css" href="@style('welcome.css')">
    </head>
    <body>
        <h1>Heading1</h1>
        <p>Paragraph1</p>
        <hr>
        <em>@runtime</em>
    </body>
</html>
